[submodule "microservices/magnetic-reed-listener"]
	path = microservices/magnetic-reed-listener
	url = https://github.com/WIPtitle/magnetic-reeds-listener.git
[submodule "microservices/project-core"]
	path = microservices/project-core
	url = https://github.com/WIPtitle/project-core.git
